:root {
    --menu-width: 40em; /* Width of menu */
    --items: 3; /* Number of items you have */
    --item-width: calc(var(--menu-width) / var(--items));
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5; /* Light background color */
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

nav {
    width: var(--menu-width);
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    perspective: 2000px;
    flex-wrap: wrap;
    top: 3em;
}

nav .menu-item {
    color: #333; /* Dark text color */
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 1;
    display: flex;
    flex-basis: var(--item-width);
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 0.5px;
    min-height: 7.5em;
}

nav .menu-text, nav .menu-text a {
    font-size: 1em;
    color: #333; /* Dark text color */
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: color 0.1s ease-out;
    text-align: center;
}

nav .menu-text a:hover {
    color: #666; /* Darker text color on hover */
}

.menu-item .sub-menu {
    position: absolute;
    top: 7em;
    color: #333; /* Dark text color */
    border-radius: 10px;
    min-width: 27.5em;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 999;
    margin-left: -5em;
    clip-path: inset(0 10em 10em 15em);
    opacity: 0;
    font-weight: initial;
    padding: 1.5em;
    transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, clip-path 0.15s ease-out;
}

.menu-item .sub-menu.double {
    min-width: 41.25em;
    height: 18.75em;
    display: grid;
    grid-template-columns: 54% 50%;
}

.menu-item .sub-menu.triple {
    min-width: 41.25em;
    height: 25em;
    display: grid;
    padding: 1.5em 2.5em;
    grid-template-columns: 55% 45%;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    clip-path: inset(0 0 0 0);
}

.menu-text:after {
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
    opacity: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: -5em;
    left: calc(50% - 10px);
    border-color: transparent transparent #333 transparent;
    border-width: 10px;
    border-style: solid;
}

.menu-item:hover .menu-text:after {
    bottom: 0.5em;
    opacity: 1;
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
}

.menu-item:hover .sub-menu {
    opacity: 1;
    margin-left: 0;
}

#info-box {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

#info-box ul {
    list-style: none;
}

#info-box a {
    color: #666; /* Darker text color */
    text-decoration: none;
    text-align: right;
    padding: 0.5em 0;
    transition: all 0.1s ease-out;
    display: block;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 900;
    letter-spacing: 1px;
}

#info-box a:hover {
    color: #999; /* Lighter text color on hover */
}

 


